@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";


body {
    overflow: hidden;
    background: rgb(253, 253, 253);
    /* font-family: "Roboto", serif; */
    font-family: "Sora", serif;
}